@{
    ViewBag.Title = "Hakkımızda";

}

   <!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Hakkımızda</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="#0"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Hakkımızda</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start  about Section-->
<section class="about mega-section" id="about">
    <div class="container">
        <!-- Start first about div-->
        <div class="content-block  ">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
                    <div class="text-area ">
                        <div class="sec-heading  light-title ">
                            <div class="content-area">
                                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Hakkımızda</span>
                                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>Yenilikçi</span> Yaklaşımımızla Güvenilir Bir Çözüm Sunuyoruz.<span class='featured-text'>   </span></h2>
                            </div>
                        </div>
                        <p class=" about-text">Beck Tech, genç ve dinamik bir ekiple, müşterilerimize yenilikçi çözümler sunarak güvenilir bir marka olma yolunda ilerliyor.</p>
                        <div class="info-items-list ">
                            <div class="row ">
                                <div class="col-9 col-xl-6">
                                    <div class="info-item">
                                        <i class="flaticon-medal  info-icon"></i>
                                        <div class="info-content">
                                            <h5 class="info-title">Yenilikçi Çözümler </h5>
                                            <p class="info-text">Beck Tech, sektöre yenilikçi çözümler sunan genç ve dinamik bir şirkettir. Müşterilerimize en yeni teknolojileri ve etkili çözümleri sunarak, dijital dünyada öne çıkmanızı sağlıyoruz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 col-xl-6">
                                    <div class="info-item">
                                        <i class="flaticon-game-console info-icon"></i>
                                        <div class="info-content">
                                            <h5 class="info-title">Kolay İletişim </h5>
                                            <p class="info-text">Beck Tech, müşterilerimizle kolay ve hızlı iletişim kurma imkanı sunar. Ulaşılabilir ekibimiz, ihtiyaçlarınızı hızlı ve etkili bir şekilde çözerek size destek sağlar.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 col-xl-6">
                                    <div class="info-item">
                                        <i class="flaticon-map info-icon"></i>
                                        <div class="info-content">
                                            <h5 class="info-title">Küresel Bakış Açısı </h5>
                                            <p class="info-text">Beck Tech, uluslararası hizmetler sunarak müşterilerimize global çözümler sağlar. Genç ve dinamik ekibimizle, sınırları aşarak işletmelerin dünya genelinde başarılı olmalarına yardımcı oluyoruz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 col-xl-6">
                                    <div class="info-item">
                                        <i class="flaticon-technical-support-1  info-icon"></i>
                                        <div class="info-content">
                                            <h5 class="info-title">7/24 Destek  </h5>
                                            <p class="info-text">Beck Tech, müşterilerimize 7/24 destek sağlayarak her zaman yanlarında olduğunu gösterir. Sorularınızı, sorunlarınızı ve ihtiyaçlarınızı her zaman çözmek için buradayız.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
                    <div class="img-area  " data-tilt>
                        <div class="image   "><img class="about-img img-fluid " loading="lazy" src="/stand-blog/assets/images/about/3.png" alt="Our vision"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End first about div-->
        <!-- Start first about div-->
        <div class="content-block  ">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center about-col  wow fadeInUp" data-wow-delay="0.2s">
                    <div class="img-area  ">
                        <div class="image  " data-tilt><img class="about-img img-fluid " loading="lazy" src="/stand-blog/assets/images/about/1.png" alt="about"></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center about-col pad-start  wow fadeInUp " data-wow-delay="0.6s">
                    <div class="text-area ">
                        <div class="sec-heading  light-title ">
                            <div class="content-area">
                                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Neden  Biz</span>
                                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Müşteriler <span class='hollow-text'> Neden Bizimle</span>   <span class='featured-text'>Çalışmayı <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span> İster</h2>
                            </div>
                        </div>
                        <!-- <p class=" about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia molestiae dolorum tempora ut accusamus cupiditate! Nesciunt tempora reiciendis libero voluptate!</p> -->
                        <div class="info-items-list">
                            <div class="row ">
                                <div class="col-12 ">
                                    <div class="info-item">
                                        <span class="info-number ">01.</span>
                                        <div class="info-content">
                                            <h5 class="info-title">
                                                En Son Teknolojiler
                                            </h5>
                                            <p class="info-text">Beck Tech, müşterilerine en son teknolojileri sunarak işletmelerin dijital dünyada öne çıkmasını sağlar. Sürekli güncellenen teknolojiyle, müşterilerimizin rekabet avantajını artırırız.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="info-item">
                                        <span class="info-number ">02.</span>
                                        <div class="info-content">
                                            <h5 class="info-title">
                                                Benzersiz Çözümler
                                            </h5>
                                            <p class="info-text">Her müşteriye özel çözümler geliştirerek, işletmelerin ihtiyaçlarına tam olarak cevap veririz. Müşterilerimizin benzersiz gereksinimlerini karşılayarak başarılarını destekleriz.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="info-item">
                                        <span class="info-number ">03.</span>
                                        <div class="info-content">
                                            <h5 class="info-title">
                                                Güçlü Stratejiler
                                            </h5>
                                            <p class="info-text">Müşterilerimizin başarılı olmaları için güçlü stratejiler geliştiririz. Veri odaklı yaklaşımımızla, müşterilerimizin potansiyellerini en üst düzeye çıkarmalarına yardımcı oluruz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End first about div-->
    </div>
</section>
<!-- End  about Section-->
<!-- Start  our-team Section-->
<section class="our-team mega-section " id="our-team">
    <div class="container">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Takım</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">  <span class='hollow-text'>Takım</span> Üyelerimiz</h2>
            </div>
            <!-- <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="our-team.html">see more<i class="bi bi-arrow-right icon "></i></a></div> -->
        </div>
        <div class="container">
            <div class="row">
                <!--first Team Member-->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  "  asp-route="BatuhanAral">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/batuhanAral.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/batuhan-aral-356988194/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-route="BatuhanAral">
                                <h6 class="tm-name">Batuhan Aral</h6>
                            </a><span class="tm-role">co Founder   </span>
                        </div>
                    </div>
                </div>
                <!--Second Team Member-->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-route="EymenDogan">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/eymenDogan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/eymendgn94/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-route="EymenDogan">
                                <h6 class="tm-name">Eymen Doğan</h6>
                            </a><span class="tm-role">Electrical and Electronics Engineer  </span>
                        </div>
                    </div>
                </div>
                <!--Third Team Member-->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-route="CagatayArslan">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-route="CagatayArslan">
                                <h6 class="tm-name">Çağatay Aslan</h6>
                            </a><span class="tm-role">Content Creator   </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-action="CagatayArslan" asp-controller="Home">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-action="CagatayArslan" asp-controller="Home">
                                <h6 class="tm-name">Umut Yalvarmaz</h6>
                            </a><span class="tm-role">Communication Officer  </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-action="CagatayArslan" asp-controller="Home">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-action="CagatayArslan" asp-controller="Home">
                                <h6 class="tm-name">Mahmud Karakuş</h6>
                            </a><span class="tm-role">Marketing Manager   </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-action="CagatayArslan" asp-controller="Home">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-action="CagatayArslan" asp-controller="Home">
                                <h6 class="tm-name">Osman Sefa Köroğlu</h6>
                            </a><span class="tm-role">Software Developer   </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                        <div class="tm-image js-tilt ">
                            <a class="tm-link  " asp-action="CagatayArslan" asp-controller="Home">
                                <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member" />
                            </a>
                            <div class="tm-social">
                                <div class="sc-wrapper dir-row sc-size-40">
                                    <ul class="sc-list">
                                        <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tm-details">
                            <a class="tm-link" asp-action="CagatayArslan" asp-controller="Home">
                                <h6 class="tm-name">?????????</h6>
                            </a><span class="tm-role">Software Developer   </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- End  our-team Section-->
@* <!-- Start  blog Section-->
<section class="blog blog-home mega-section  " id="blog">
    <div class="container ">
        <div class="sec-heading  ">
            <div class="content-area">
                <span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">blog</span>
                <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">latest <span class='hollow-text'>news</span></h2>
            </div>
            <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="blog-home-3-col.html">see all posts<i class="bi bi-arrow-right icon "></i></a></div>
        </div>
        <div class="row ">
            <div class="col-12 ">
                <div class="posts-grid ">
                    <div class="row">
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single.html" title="How litespeed technology works to speed up your site ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="/stand-blog/assets/images/blog/post-images/1.jpg" alt="" /><span class="post-date"><span class="day">05 </span>oct 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>hosting</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>Allan Moore</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single.html">
                                            <h2 class="post-title"> How litespeed technology works to speed up your site </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" href="post-single.html" title="How litespeed technology works to speed up your site ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single.html" title="give your website a new look and feel with themes">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="/stand-blog/assets/images/blog/post-images/2.jpg" alt="" /><span class="post-date"><span class="day">15 </span>sep 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>web dev</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>mhmd amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single.html">
                                            <h2 class="post-title"> give your website a new look and feel with themes</h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" href="post-single.html" title="give your website a new look and feel with themes">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 ">
                            <div class="post-box">
                                <a class="post-link" href="post-single.html" title="the role of domain names in SEO world explained ">
                                    <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="/stand-blog/assets/images/blog/post-images/3.jpg" alt="" /><span class="post-date"><span class="day">27 </span>aug 2022     </span></div>
                                </a>
                                <div class="post-summary">
                                    <div class="post-info"><a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>SEO</a><a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>yusuf amin</a></div>
                                    <div class="post-text">
                                        <a class="post-link" href="post-single.html">
                                            <h2 class="post-title"> the role of domain names in SEO world explained </h2>
                                        </a>
                                        <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Iure nulla dolorem, voluptates molestiae</p><a class="read-more" href="post-single.html" title="the role of domain names in SEO world explained ">read more<i class="bi bi-arrow-right icon "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  blog Section--> *@
<!-- Start  take-action Section-->
<section class="take-action elf-section has-dark-bg" id="take-action">
    <div class="overlay-photo-image-bg  " data-bg-img="/stand-blog/assets/images/sections-bg-images/2.jpg" data-bg-opacity=".25"> </div>
    <div class="cta-wrapper">
        <div class="container">
            <div class="sec-heading centered mb-0">
                <div class="content-area">
                    <span class="pre-title wow fadeInUp" data-wow-delay=".2s">İletişim</span>
                    <h2 class="title wow fadeInUp" data-wow-delay=".4s">Bizimle İletişim Kurun</h2>
                    <p class="subtitle wow fadeInUp" data-wow-delay=".6s">Beck Tech ile iletişime geçin ve işletmenizi dijital dünyada öne çıkarın.</p>
                </div>
            </div>
            <!--Start .see-more-area-->
            <div class="see-more-area wow fadeInUp" data-wow-delay="0.8s">
                <a class="btn-solid cta-link" asp-action="Contact" asp-controller="Home">İletişime Geçin</a>
            </div>

            <!--End Of .see-more-area        -->
        </div>
    </div>
</section>
<!-- End  take-action Section-->