@{
    ViewBag.Title = "Batuhan Aral";

}
 <!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                    <p class="tm-text">
                        Batuhan Aral, Kocaeli Üniversitesi Bilişim Sistemleri Mühendisliği mezunu bir Back-End Developer'dır. Eğitim hayatı boyunca hem akademik alanda hem de sosyal aktivitelerde aktif rol almıştır. Okulunun genç girişimcilik ve teknoloji kulüplerinde liderlik pozisyonları üstlenmiş, özellikle Web takımı kurarak kaptanlık yapmıştır. Bu süreçte takım çalışması, proje yönetimi ve teknik becerilerini geliştirme fırsatı bulmuştur.
                    </p>
                    <p class="tm-text">
                        Profesyonel kariyerine adım attıktan sonra yazılım dünyasında kendini kanıtlamıştır. .NET, C#, Angular, HTML, CSS ve OOP gibi teknolojilerde bilgi birikimine sahiptir. Özellikle Back-End teknolojileri konusunda çeşitli projelerde liderlik yapmıştır. İş deneyimleri arasında önemli şirketlerde staj yapması da yer almaktadır. Bu süreçte öğrendiği pratik bilgileri kullanarak başarılı projelere imza atmıştır.
                    </p>
                    <p class="tm-text">
                        Batuhan, kariyerinin yanı sıra kişisel gelişimine de büyük önem vermektedir. Özel projeler üzerinde çalışarak kendini sürekli yenilemiş, yeni teknolojilere adaptasyonunu hızlandırmış ve yenilikçi çözümler üretmiştir. Genç Girişimciler Kulübü'nde aktif olarak görev alarak liderlik ve iş geliştirme becerilerini geliştirmiştir.
                    </p>
                    <p class="tm-text">
                        Batuhan'ın girişimcilik ruhu, BeckTech'i kurarken de ortaya çıkmıştır. Arkadaşlarıyla birlikte hayata geçirdiği bu proje, teknoloji ve yazılım alanında önemli bir yer edinmiş ve sektördeki etkisini artırmıştır. Batuhan Aral, sadece teknik bilgi ve becerileriyle değil, liderlik yetenekleri, iş vizyonu ve sektörel deneyimiyle de öne çıkan bir isimdir.
                    </p>
                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/batuhanAral.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Batuhan Aral</h6><span class="role">Kurucu, Yazılım Sorumlusu  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/batuhan-aral-356988194/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    <div class="see-more-area  "><a class=" btn-solid" target="_blank" href="@Url.Content("~/stand-blog/assets/pdf/BatuhanAralCv.pdf")">Özgeçmiş İndir</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->