@{
    ViewBag.Title = "Berna Altuntaş";

}
<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>

                    <p class="tm-text">
                        Merhaba,
                        <br />
                        Adım Berna Altuntaş, 24 yaşındayım ve Marmara Üniversitesi'nde Yönetim Bilişim Sistemleri (Almanca) bölümünde üçüncü sınıf öğrencisiyim. Eğitim hayatım boyunca, üniversitemizin bünyesinde yer alan BWL und WI kulübünde aktif olarak görev aldım ve çeşitli etkinliklerde sorumluluk üstlendim. Bu süreçte, hem kişisel hem de akademik anlamda önemli deneyimler kazandım.

                    </p>
                    <p class="tm-text">
                        Üniversite eğitimim süresince aldığım çeşitli dersler, bana farklı bakış açıları kazandırdı ve profesyonel anlamda kendimi geliştirmemde önemli rol oynadı. Özellikle algoritma, girişimcilik, pazarlama, inovasyon, iş yönetimi, muhasebe ve SQL gibi dersler sayesinde alanımda derinlemesine bilgi sahibi oldum. Bu dersler, analitik düşünme yeteneğimi artırırken, problem çözme becerilerimi de geliştirdi.

                    </p>
                    <p class="tm-text">

                        İletişim becerilerimin güçlü olduğunu düşünüyorum ve bu sayede takım çalışmasında ve ortak projelerde etkin bir şekilde rol alabiliyorum. Alanıma duyduğum tutku ve öğrenmeye olan açıklığım, beni sürekli olarak daha fazla bilgi edinmeye ve kendimi geliştirmeye teşvik ediyor. Bu motivasyonla, gelecekte daha donanımlı bir birey olmayı hedefliyorum.

                    </p>
                    <p class="tm-text">


                        Ayrıca, katıldığım projeler ve kulüp faaliyetleri, bana liderlik ve organizasyon becerileri kazandırdı. Bu deneyimler, profesyonel dünyada karşılaşacağım zorluklarla başa çıkmamda bana rehberlik edecek önemli yetkinlikler kazandırdı. Gelişimime katkı sağlayacak her fırsatı değerlendirmeye ve mesleki anlamda kendimi sürekli olarak ileriye taşımaya kararlıyım.
                    </p>
                    

                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/bernaAltuntas.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Berna Altuntaş</h6><span class="role">Yazar  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/berna-altunta%C5%9F-0a4741254/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    @*                     <div class="see-more-area  "><a class=" btn-solid" href="@Url.Content("~/stand-blog/our-team/cagatayAslan.pdf")">Özgeçmiş İndir</a></div>
                    *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->