@{
    ViewBag.Title = "Çagatay Aslan";

}

<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                    <p class="tm-text">
                        Çağatay Aslan, Konyalı bir girişimci ve yenilikçi, Konya'da doğup Kırşehir'de büyümüştür. Bilgisayar programlıcılığı ve uluslararası ilişkiler alanlarında eğitim almış ve bu iki ilgi alanını harmanlayarak kendine özgü bir kariyer yolu çizmiştir. Aslan, web tasarımı, yapay zeka ve grafik tasarım gibi alanlarda uzmanlaşmıştır. Aynı zamanda uluslararası ilişkiler alanında da çalışmalarına devam etmekte ve bu alanda ilerlemeyi hedeflemektedir.

                    </p>
                    <p class="tm-text">
                        Aslan, Bilgisayar Programcılığı ve Uluslararası İlişkiler bölümlerinden mezun olmuştur. Bu akademik geçmişi, ona farklı bakış açıları kazandırarak karmaşık problemleri çözme ve yenilikçi çözümler üretme becerisi kazandırmıştır. Web tasarımı alanındaki uzmanlığı ile birçok başarılı projeye imza atmış ve bu alandaki yetkinliğini kanıtlamıştır. C# programlama diline hakimiyeti ve grafik tasarım becerileri de onu çok yönlü bir yetenek haline getirmektedir.
                    </p>
                    <p class="tm-text">
                        Çağatay Aslan, günümüzün en önemli teknolojik gelişmelerinden biri olan yapay zekaya büyük bir ilgi duymaktadır. Bu alandaki bilgi ve becerilerini kullanarak yapay zeka programlarını geliştirmekte ve bu programları çeşitli alanlarda uygulamaktadır. Yapay zekanın sunduğu potansiyelin farkında olan Aslan, bu alandaki çalışmalarını geliştirmeye ve bu alanda öncü olmaya devam etmeyi hedeflemektedir.
                    </p>
                    <p class="tm-text">
                        Aslan, uluslararası ilişkiler alanındaki çalışmalarına da devam etmektedir. Bu alandaki bilgi ve becerilerini kullanarak uluslararası ilişkilerle ilgili problemleri çözmeye ve bu alanda katkıda bulunmaya çalışmaktadır. Uluslararası ilişkilerdeki gelişmeleri yakından takip etmekte ve bu alandaki bilgi birikimini sürekli olarak geliştirmektedir.
                    </p>
                    <p class="tm-text">
                        Çağatay Aslan, yoğun çalışma temposunun yanında gitar çalmak ve uzak doğu dövüş sanatları ile uğraşmak gibi hobilere de zaman ayırmaktadır. Bu hobiler, ona dinlenme ve rahatlama imkanı sunmakta ve zihinsel ve fiziksel olarak zinde kalmasına yardımcı olmaktadır.
                    </p>
                    <p class="tm-text">
                        Çağatay Aslan, bilgi birikimi, becerileri ve tutkusuyla farklı alanlarda başarılar elde etmiş bir girişimcidir. Bilgisayar bilimi ve uluslararası ilişkilerin kesişim noktasında yer alan Aslan, gelecekte de bu alanlarda önemli başarılara imza atacağına inanmaktayız
                    </p>
                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/cagatayArslan.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Çağatay Arslan</h6><span class="role">Kurucu, Pazarlama Sorumlusu  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="instagram"><a class="sc-link" target="_blank" href="https://www.instagram.com/ccagatayaslan/" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
@*                     <div class="see-more-area  "><a class=" btn-solid" href="@Url.Content("~/stand-blog/our-team/cagatayAslan.pdf")">Özgeçmiş İndir</a></div>
 *@                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->