@{
    ViewBag.Title = "Eymen Doğan";

}
 <!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                    <p class="tm-text">
                        Eymen Doğan, Kırşehir'in naif topraklarında doğup büyümüş, İnönü Üniversitesi'nde Elektrik Elektronik Mühendisliği bölümünde sadece kitaplardan değil, gerçek yaşam deneyimlerinden de beslenerek eğitim almış biridir. Teknolojiye olan ilgisi ve zekası, onu sadece bir mühendislik öğrencisi olmaktan çıkarıp, teknoloji dünyasında öncü bir isim olma yolunda ilerlemesine ilham vermiştir.
                    </p>
                    <p class="tm-text">
                        Gelişen teknoloji alanında adeta bir öncü ruhu taşıyan Eymen, görüntü işleme, yapay zeka ve otomatik kontrol sistemleri gibi karmaşık konuları sadece öğrenmekle kalmayıp, bunları hayata geçirme arzusuyla yanmaktadır. Opencv ve AI Trainer gibi teknolojilerle yaptığı projeler, onun zekasının ve yaratıcılığının yalnızca birer yansımasıdır.
                    </p>
                    <p class="tm-text">
                        Sosyal çevresindeki etkileşimi ve sosyal becerileri, Eymen'in sadece teknik bilgiyle değil, aynı zamanda insanlarla olan ilişkileriyle de öne çıkmasını sağlamıştır. Zekasını ve bilgisini gizli gizli kullanan Eymen, çevresindeki insanları etkilemeyi ve onların desteğini almayı başarmıştır. Bu sayede, arkadaşlarıyla birlikte kurduğu BeckTech şirketi de daha da büyümüş ve teknoloji dünyasında söz sahibi olmuştur.
                    </p>
                    <p class="tm-text"> Eymen Doğan, sadece bir mühendis değil, aynı zamanda sosyal ilişkileri güçlü, zekası keskin ve geleceğe dönük vizyonuyla öne çıkan bir lider adayıdır. Gelecekteki projeleri ve başarıları, şimdiden merak konusu ve heyecanla beklenmektedir.</p>


                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/eymenDogan.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Eymen Dogan</h6><span class="role">manager  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/eymendgn94/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    <div class="see-more-area  "><a class=" btn-solid" href="@Url.Content("~/stand-blog/assets/pdf/EymenDogan.pdf")">Özgeçmiş İndir</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->