@{
    ViewBag.Title = "Hatice Atabey";

}
 <!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                    <p class="tm-text">
                        Ben Hatice Atabey, İzmir Bakırçay Üniversitesi Yönetim Bilişim Sistemleri Bölümü 3. Sınıf öğrencisiyim. Hazırlık sınıfından itibaren bir buçuk yıllık süre boyunca  Yönetim Bilişim Sistemleri Kulübünde yönetim kadrosunda yer aldım. Çeşitli sosyal aktivitelerin yapım ve gerçekleştirme aşamasında rol oynadım. Sonraki yıllarda da kulübe olan katkım devam etti. Kulüp içerisinde bulunan “Experience Transfer Talks” etkinliğini yöneterek sektör içerisinden değerli insanlarla etkileşime geçtim ve network oluşturma imkanı buldum. Bu sayede iletişim ve kariyer becerilerimi geliştirme fırsatı edindim.
                    </p>
                    <p class="tm-text">
                        Üniversite eğitimim boyunca almış olduğum çeşitli dersler farklı bakış açıları kazanmamda etkili rol oynadı. Girişimcilik ve İnovasyon, Dijital Çağda İletişim, E-İş, Dijital Dönüşüm, Dijital İşletme Yönetimi ve İşletmelerde Sosyal Medya dersleriyle işletme tarafına olan yetkinliğimi önemli ölçüde geliştirdim. Bunların yanı sıra almış olduğum Veri Yapıları ve Algoritmalar, Nesneye Yönelik Programlama, Kullanıcı Arayüzü Geliştirme, Python ile Uygulamalı Yapay Zeka, Web Programlama ve İleri Veritabanı Sistemleri dersleri ile teknik taraftaki yetkinliğimi büyük ölçüde geliştirdim. Derslerim süresince yapmış olduğum çeşitli proje ve sunumlarla birlikte sunum tekniklerini öğrendim. C++ tabanlı Nesneye Yönelik Programlama Projesi , Operasyon ve Tedarik Zinciri tabanlı işletme analizi projesi, R Programlama kullanarak veri seti analizi ve yorumu, Html-Css-Javascript ile Web Sitesi Tasarımı ve UX/UI tabanlı İnternet Sitesi Tasarımı Projesi gibi oldukça kampsamlı işlere imza attım.
                    </p>
                    <p class="tm-text">
                        Bunların yanı sıra yıllar içerisinde kazanmış olduğum takım çalışması becerilerim, analitik düşünebilme ve problem çözebilme kabiliyetim ile iyi bir takım oyuncusuyum. Bilgi teknolojilerine derin ilgi ve merak duyuyorum. Teorik bilgilerimi deneyimle birleştirerek içerisinde bulunduğum işlere değer katıyorum.
                    </p>

                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/haticeAtabey.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Hatice Atabey</h6><span class="role">Yazar </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/hatice-atabey-9960371b6/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    <div class="see-more-area  "><a class=" btn-solid" target="_blank" href="@Url.Content("~/stand-blog/assets/pdf/HaticeAtabey.pdf")">Özgeçmiş İndir</a></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->