@{
    ViewBag.Title = "İbrahim Dündar";

}
<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                   
                    <p class="tm-text">
                        İbrahim Dündar, Malatya doğumlu ve İnönü Üniversitesi Elektrik-Elektronik Mühendisliği son sınıf öğrencisi olarak teknoloji dünyasında kendini geliştirmeye adamış bir bireydir. Elektronik eşyaları inceleme ve kartlar üzerinde çalışma gibi hobileri, teknolojiye olan tutkusunu daha da pekiştirmektedir. Kendini sürekli olarak geliştirmeye açık bir araştırmacı olarak tanımlayan İbrahim, problem çözme ve analiz yeteneklerinde üst düzey bir yetkinliğe sahiptir. Gelecekte teknoloji alanında öncü bir rol üstlenerek yeni bir bakış açısı getirmeyi ve başarılı bir kariyer inşa etmeyi hedeflemektedir.
                    </p>


                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/ibrahimDundar.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">İbrahim Dundar</h6><span class="role">Yazar  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/ibrahim-d%C3%BCndar-494699246/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    @*                     <div class="see-more-area  "><a class=" btn-solid" href="@Url.Content("~/stand-blog/our-team/cagatayAslan.pdf")">Özgeçmiş İndir</a></div>
                    *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->