@{
    ViewBag.Title = "Mahmut Karakus";

}
<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>
                    <p class="tm-text">
                        Merhaba, ben Mahmut Karakuş! Kitap okumayı, blog yazmayı, satranç oynamayı ve yürüyüş yapmayı seven biriyim. Hayatımın her döneminde öğrenmeye ve gelişmeye açık biriyim. Kendimi sürekli olarak yeni bilgiler ve deneyimlerle donatmayı hedefliyorum.
                    </p>
                    <p class="tm-text">
                        Eğitim hayatıma Ortaokulu'nda başladım ve ardından Hayriye Kımçak Anadolu Lisesi'nde öğrenimime devam ettim. Üniversite eğitimimde ise Adnan Menderes Üniversitesi'nde Ekonomi alanında kendimi geliştirdim. Öğretmen Bedia Köksal Güler'den aldığım eğitimlerle bilgi ve becerilerimi şekillendirdim.
                    </p>
                    <p class="tm-text">
                        İş deneyimlerimde Metamar Marketing'te metin yazarı olarak görev aldım ve yazma becerilerimi geliştirme fırsatı buldum. Sonrasında Nurellam Klas Masaj Salonu'nda sosyal medya yöneticisi ve metin yazarı olarak çalıştım. Amazon KDP'de ise kitap tasarımı ve e-ticaret süreç yönetimi konularında deneyim kazandım.
                    </p>
                    <p class="tm-text">
                        Şimdi ise buradayım, sizlere deneyimlerimden ve ilgi alanlarımdan bahsederek bilgi ve tecrübelerimi paylaşmayı hedefliyorum. Blog yazılarımda kitap önerileri, sosyal medya yönetimi ipuçları, satranç taktikleri ve daha birçok konuda içerikler paylaşacağım. Amacım sizlere hem bilgi vermek hem de keyifli vakit geçirmenizi sağlamak.
                    </p>
                    <p class="tm-text">
                        Beni takip ederek bu yolculuğa ortak olabilirsiniz. Yorumlarınızı ve önerilerinizi bekliyorum. İyi okumalar ve keyifli zamanlar geçirmeniz dileğiyle!
                    </p>
                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/mahmutKarakus.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Mahmut Karakus</h6><span class="role">Yazar </span>
                    </div>
                 
                    <!--Start see-more-area-->
                    <div class="see-more-area  "><a class=" btn-solid" target="_blank" href="@Url.Content("~/stand-blog/assets/pdf/MahmutKarakus.pdf")">Özgeçmiş İndir</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
