@{
    ViewBag.Title = "Zeynep Kalaycıoğlu";

}
<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
    <div class="overlay-photo-image-bg parallax" data-bg-img="/stand-blog/assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area centerd">
            <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Takımımız</h1>
            <nav aria-label="breadcrumb ">
                <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" asp-action="Index"><i class="bi bi-house icon "></i>Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Takımımız</li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End inner Page hero-->
<!-- Start inner Page hero-->
<section class="team-member mega-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="tm-description">
                    <h3 class="tm-title">Biyografi </h3>

                    <p class="tm-text">
                        Hello. I am Zeynep Kalaycıoğlu. I have accumulated a wide range of knowledge and experience with my education in Aviation Management and Electrical-Electronics Engineering and internship experiences in various sectors.

                    </p>
                    <p class="tm-text">
                        Currently, since 07.08.2023, I am working as an intern at Akbank Technology in the technology management and data technologies department. Here, I am developing my project management skills and gaining a deeper understanding in the field of technology management.
                    </p>
                    <p class="tm-text">
                        At Yıldız Technical University, I am actively working on a TUBITAK project on the recovery technologies of advanced thermoplastic composite material production wastes in the aviation and automotive industry. At the same time, I worked at Altın Oran Construction Company for 6 months, supporting project drawings and improving my AutoCAD skills.
                    </p>
                    <p class="tm-text">
                        For me, education and experience emphasize the importance of constantly improving myself. In the rapidly changing world of technology and engineering, I am always eager to create innovative solutions and contribute to sustainable projects.


                    </p>
                    <p class="tm-text">
                        I am looking forward to connect and exchange ideas. Feel free to contact me!I am looking forward to connect and exchange ideas. Feel free to contact me!
                    </p>

                </div>
            </div>
            <div class="col-12  col-lg-3 mx-auto ">
                <div class="profile ">
                    <div class="tm-img  "><img class=" img-fluid " loading="lazy" src="~/stand-blog/assets/images/our-team/zeynepKalaycioglu.jpg" alt="Team Member"></div>
                    <div class="tm-details">
                        <h6 class="name">Zeynep Kalaycıoğlu</h6><span class="role">Yazar  </span>
                    </div>
                    <div class="tm-social">
                        <div class="sc-wrapper dir-row sc-size-40">
                            <ul class="sc-list">
                                <li class="sc-item " title="Linkedin"><a class="sc-link" target="_blank" href="https://www.linkedin.com/in/zeynep-kalaycio%C4%9Flu/" title="social media icon"><i class="fab fa-linkedin sc-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start see-more-area-->
                    @*                     <div class="see-more-area  "><a class=" btn-solid" href="@Url.Content("~/stand-blog/our-team/cagatayAslan.pdf")">Özgeçmiş İndir</a></div>
                    *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End inner Page hero-->