<div class="part">
    <div class="info-items-list">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="info-item">
                    <span class="info-number">01.</span>
                    <div class="info-content">
                        <h5 class="info-title">En Son Teknolojiler</h5>
                        <p class="info-text">Web uygulamalarınızın modern, verimli ve ölçeklenebilir olmasını sağlamak için en son teknolojileri kullanıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="info-item">
                    <span class="info-number">02.</span>
                    <div class="info-content">
                        <h5 class="info-title">Özel Çözümler</h5>
                        <p class="info-text">Ekibimiz, benzersiz iş gereksinimlerinizi ve hedeflerinizi karşılayan özel çözümler oluşturmada uzmandır.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="info-item">
                    <span class="info-number">03.</span>
                    <div class="info-content">
                        <h5 class="info-title">Ölçeklenebilir Mimari</h5>
                        <p class="info-text">İşletmeniz genişledikçe web uygulamalarınızın sorunsuz bir şekilde büyümesine izin veren ölçeklenebilir mimariler tasarlıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="info-item">
                    <span class="info-number">04.</span>
                    <div class="info-content">
                        <h5 class="info-title">Duyarlı Tasarım</h5>
                        <p class="info-text">Web sitelerimiz ve uygulamalarımız, kullanıcı deneyimini her cihazda optimal hale getiren duyarlı tasarım prensipleriyle oluşturulmuştur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="part">
    <h2 class="service-title">Sıkça Sorulan Sorular</h2>
    <div class="faq">
        <div class="faq-accordion" id="accordion">
            <div class="card mb-2">
                <div class="card-header" id="heading-1">
                    <h5 class="mb-0 faq-title">
                        <button class="btn btn-link faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">Hizmetleriniz kullanımı kolay mı?</button>
                    </h5>
                </div>
                <div class="collapse" id="collapse-1" aria-labelledby="collapse-1" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p class="faq-answer">Evet, hizmetlerimiz kullanıcı dostu olacak şekilde tasarlanmıştır, hem sizin hem de müşterilerinizin sorunsuz bir deneyim yaşamasını sağlar.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header" id="heading-2">
                    <h5 class="mb-0 faq-title">
                        <button class="btn btn-link faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2"> Gelecekte güncellemeler alacak mıyım?</button>
                    </h5>
                </div>
                <div class="collapse" id="collapse-2" aria-labelledby="collapse-2" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p class="faq-answer">Evet, web uygulamalarınızın güncel ve güvenli kalması için sürekli güncellemeler ve destek sağlıyoruz</p>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header" id="heading-3">
                    <h5 class="mb-0 faq-title">
                        <button class="btn btn-link faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">Hizmetleriniz ülkemde çalışır mı?</button>
                    </h5>
                </div>
                <div class="collapse" id="collapse-3" aria-labelledby="collapse-3" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p class="faq-answer">Evet, hizmetlerimiz küresel olarak mevcuttur, herhangi bir ülkeden işletmeler uzmanlığımızdan faydalanabilir.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header" id="heading-4">
                    <h5 class="mb-0 faq-title">
                        <button class="btn btn-link faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">Ne kadar ödeme yapacağım?</button>
                    </h5>
                </div>
                <div class="collapse" id="collapse-4" aria-labelledby="collapse-4" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p class="faq-answer">Fiyatlandırmamız projenin kapsamı ve karmaşıklığına bağlıdır. Rekabetçi fiyatlar ve şeffaf fiyatlandırma modelleri sunuyoruz, bütçenize ve gereksinimlerinize uygun detaylı bir teklif için bizimle iletişime geçin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
