 <!-- Hizmet kenar çubuğunu başlat -->
<div class="col-12 col-xl-4">
    <div class="service-sidebar ">
        <div class="sidebar-pane">
            <h2 class="sidebar-title">Hizmetler Listesi</h2>
            <ul class="list">
                <li class="list-item "><i class="flaticon-web-development font-icon"></i><a asp-action="WebDevelopment" asp-controller="Home"> Web geliştirme<i class="bi bi-arrow-right icon "></i></a></li>
                <li class="list-item"><i class="flaticon-nanotechnology font-icon"></i><a asp-action="DigitalMarketing" asp-controller="Home"> Dijital Pazarlama<i class="bi bi-arrow-right icon "></i></a></li>
                <li class="list-item"><i class="flaticon-search font-icon"></i><a asp-action="SeoService" asp-controller="Home"> SEO Hizmetleri <i class="bi bi-arrow-right icon "></i></a></li>
                <li class="list-item"><i class="flaticon-strategy font-icon"></i><a asp-action="SocialMediaManagement" asp-controller="Home"> Sosyal Medya Yönetimi<i class="bi bi-arrow-right icon "></i></a></li>
                <li class="list-item"><i class="flaticon-aim font-icon"></i><a asp-action="ContentWriting" asp-controller="Home"> Metin Yazarlığı<i class="bi bi-arrow-right icon "></i></a></li>
                <li class="list-item"><i class="flaticon-profile font-icon"></i><a asp-action="DigitalBusinessCard" asp-controller="Home"> Dijital Kartvizit<i class="bi bi-arrow-right icon "></i></a></li>
            </ul>
        </div>
    </div>
</div>